body{
    /* estable el ancho de 1200 y el tamano se preserva aunque se cambie le tamano del navegador */
    width: 1200px ;
    min-width: 1200px ;
    /* padding-left: 50px; */
}
nav{
    width: 1200px ;
}

.navbar-light .nav-link{
    color:rgba(255,0,0) ;
}

.navbar-light .nav-link:hover{
    background-color: rgba(255,0,0, 0.5);
    color: rgb(219, 199, 13);
}

.titulo__services{ 
    text-align: center;
    background-color:#ffc107;
    color:rgba(255,0,0,0.5) ;
    margin-bottom: 0px;
}

.Servicios .card {
    border-color: rgb(221, 120, 221) !important;
    border-width: 2px !important;
}

.Noticias .card {
    border-color: rgb(221, 120, 221) !important;
    border-width: 2px !important;
}

.noticias__title{ 
    text-align: center;
    background-color:#ffc107;
    color:rgba(255,0,0,0.5) ;
    margin-bottom: 0px;
}

.Noticias p {
    height: 140px;
}

.titulo__equipo{ 
    text-align: center;
    background-color:#ffc107;
    color:rgba(255,0,0,0.5) ;
    margin-bottom: 0px;
}

.footer__title{ 
    text-align: center;
    background-color:#ffc107;
    color:rgba(255,0,0,0.5) ;
    margin-bottom: 10px;
}

.carousel-item img{
    opacity: 0.4;
}


/* .servicios__contenedor a:hover{
    font-size: 10px;
} */


/* .servicios{
    background-color: lightcyan;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}
.servicios__contenedor{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px violet solid;
}
.servicios__contenedor>a:hover{
    font-size: 10px;
}

.servicios__contenedor>a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: darkred;
}
.servicios__contenedor__titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.imagenes__servicios{
    border: 5px black solid;
} */